In [1]:
import numpy as np
import pandas as pd
import networkx as nx

In [2]:
df = pd.read_csv("data/migr_imm3ctb.tsv", sep="\t|,")
df

/Users/jonathanbleiberg/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [4]:
def process_df(df):
    df.rename(columns={"geo\\time":"c_dest"}, inplace=True)
    df = df[df.age == "TOTAL"]
    df = df[df.sex == "T"]
    df = df[df.agedef == 'COMPLET']
    df = df.sort_values("c_dest")
    df.drop(["age", "agedef", "unit", "sex"], axis=1, inplace=True)
    df = df[['c_dest','c_birth','2017 ','2016 ','2015 ','2014 ','2013 ',
             '2012 ','2011 ','2010 ','2009 ','2008']]
    df.rename(columns=lambda x: x.strip(), inplace=True)
    return df

In [5]:
df = process_df(df)
df

,c_dest,c_birth,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
46,AT,AD,0,1,1,0,:,0,0,:,:,1
12673,AT,MM,12,9,19,7,:,11,4,:,:,9
12742,AT,MN,115,191,347,229,:,239,209,:,:,167
12813,AT,MR,6,6,3,1,:,7,3,:,:,2
1904,AT,ASI_W,7653,11295,31782,:,:,2208,1587,1295,:,1581
12885,AT,MS,0,0,0,0,:,0,0,:,:,0
12957,AT,MT,10,13,9,9,:,9,6,:,:,13
13027,AT,MU,6,3,3,8,:,6,8,:,:,12
13096,AT,MV,2,2,1,1,:,0,1,:,:,1
1829,AT,ASI_S_E,1055,975,1065,:,:,870,888,729,:,888
13165,AT,MW,6,1,3,9,:,6,3,:,:,1
13236,AT,MX,239,253,218,191,:,184,178,:,:,149
12603,AT,ML,5,11,16,13,:,18,17,:,:,10
13308,AT,MY,49,44,45,38,:,38,47,:,:,21
13447,AT,NaN,15,14,13,17,:,15,14,:,:,13
1753,AT,ASI_S,4584,14244,22374,:,:,6007,5217,3079,:,2696
13534,AT,NAT,7858,7825,7693,7649,8460,6774,6426,7016,7200,6862
13614,AT,NC,0,1,0,0,:,0,0,:,:,1
13684,AT,NE,2,3,5,8,:,5,4,:,:,1
13771,AT,NEU27_FOR,:,:,:,:,:,34029,29954,25823,26150,27728
1672,AT,ASI_E,1991,2195,2454,:,:,1929,1719,1504,:,1546
13867,AT,NEU28_FOR,43567,58497,90248,44368,36886,:,:,:,:,:
13949,AT,NG,592,871,977,722,:,545,424,:,:,522
14022,AT,NI,19,11,10,10,:,11,12,:,:,8
14096,AT,NL,584,661,608,592,:,570,531,:,:,572
13378,AT,MZ,2,5,2,6,:,5,2,:,:,12
1977,AT,AT,7858,7825,7693,7649,:,6774,6426,:,:,6862
12532,AT,MK,1436,1383,1400,1019,:,749,578,:,:,761
12461,AT,MIC,0,0,2,:,:,0,0,0,:,0
10992,AT,LB,93,114,185,77,:,62,68,:,:,64
...,...,...,...,...,...,...,...,...,...,...,...,...
5842,UK,EFTA,2797,4527,9347,4163,4082,4824,4547,3706,5333,1742
6532,UK,EU15_FOR,:,:,:,:,:,76799,77687,69995,75982,78893
1175,UK,AME_N,:,18250,:,:,:,:,:,:,:,:
5938,UK,EFTA_FOR,2797,4527,9347,4163,4082,4824,4547,3706,5333,1742
12061,UK,MDC_EXT,:,:,:,:,:,156485,221459,214886,201293,183582
6301,UK,ES,18418,19839,20599,22801,20991,17924,7975,:,11333,:
14993,UK,PH,:,:,:,:,:,:,4773,10152,12749,14470
6154,UK,EL,:,:,11735,:,:,:,:,:,:,:
15068,UK,PK,18912,15079,9939,13121,12350,20926,45396,33159,19543,20168
15515,UK,PT,:,:,:,:,7869,:,:,:,:,:
1022,UK,AME,:,18250,:,:,:,:,:,:,:,:
11536,UK,LT,:,:,:,:,:,:,17929,:,:,:
16226,UK,SA,:,:,7060,6580,4802,:,:,7093,4919,7403
3782,UK,CA,:,:,6440,11099,:,6338,:,5417,:,:
6790,UK,EU27,:,:,:,:,:,221317,236923,255301,243631,257304
7795,UK,FOR,577017,525682,558490,564102,456156,425089,497053,506646,484564,518884
14264,UK,NP,:,:,2406,:,:,:,4964,6509,8733,4195
11179,UK,LDC_EXT,:,:,:,:,:,20268,17261,18528,25406,26597
16583,UK,SG,:,:,:,:,:,4080,:,:,:,:
20117,UK,ZA,6402,9348,6281,:,:,:,6179,:,9033,20174
6694,UK,EU25_FOR,:,:,:,:,:,136163,148789,149463,136761,161440
14411,UK,NZ,:,:,7172,7793,4462,6256,5287,5092,6317,9107
5245,UK,DE,12532,9606,10816,:,:,8074,15019,7935,15022,:
8890,UK,HDC_EXT,:,:,:,:,:,92976,84304,95620,88353,116079
11320,UK,LK,:,:,:,:,:,:,7083,11977,7315,:
7873,UK,FR,15527,28737,17364,25734,16915,14022,16914,10881,14786,:
6613,UK,EU25,:,:,:,:,:,209114,217780,149463,218711,232798
14489,UK,OCE,:,15233,:,:,:,:,:,:,:,:
1778,UK,ASI_S,:,56205,:,:,:,:,:,:,:,:
1697,UK,ASI_E,:,37662,:,:,:,:,:,:,:,:

In [6]:
eu_countries = df.c_dest.unique()

# restrict to eu countries
eu_df = df[df.c_birth.isin(eu_countries)].copy()
eu_df.reset_index(drop=True, inplace=True)

In [7]:
# extract one year of migration data from raw df
def extract_year_df(year, raw_df):
    raw_df = raw_df.copy()
    year = str(year)
    raw_df.rename(columns=lambda x: x.strip(), inplace=True)
    raw_df.loc[:, year] = raw_df.loc[:, year].str.strip()
    raw_df.loc[:, year] = raw_df.loc[:, year].str.replace('[a-z]| ', "")
    raw_df.loc[:, year] = raw_df.loc[:, year].replace(':', np.nan)
    raw_df = raw_df.dropna()
    raw_df.loc[:, year] = raw_df.loc[:, year].astype(np.int32)
    raw_df = raw_df.loc[:, ['c_dest','c_birth',year]]
    raw_df = raw_df[raw_df.c_dest != raw_df.c_birth]
    raw_df.columns= ['c_dest','c_birth','weight'] 
    return raw_df

In [8]:
# create network model of migration in given year
def create_network(raw_df, year):
    raw_df = extract_year_df(year, raw_df)
    G = nx.from_pandas_edgelist(raw_df, source='c_birth', target='c_dest', 
                                edge_attr='weight', create_using=nx.DiGraph)
    
    return G

In [9]:
for year in range(2008, 2018):
    G = create_network(eu_df, year)
    print(f"{year}: {G.number_of_nodes()} nodes; {G.number_of_edges()} edges")

2008: 32 nodes; 544 edges
2009: 32 nodes; 550 edges
2010: 32 nodes; 580 edges
2011: 32 nodes; 641 edges
2012: 32 nodes; 674 edges
2013: 32 nodes; 454 edges
2014: 32 nodes; 732 edges
2015: 32 nodes; 703 edges
2016: 32 nodes; 702 edges
2017: 32 nodes; 732 edges

In [19]:
G = create_network(eu_df, 2017)

In [20]:
list(nx.strongly_connected_components(G))

[{'AT',
  'BE',
  'BG',
  'CH',
  'CZ',
  'DK',
  'EE',
  'ES',
  'FI',
  'FR',
  'HR',
  'HU',
  'IS',
  'IT',
  'LI',
  'LT',
  'LU',
  'LV',
  'NL',
  'NO',
  'RO',
  'SE',
  'SI',
  'SK',
  'UK'},
 {'MT'},
 {'PL'},
 {'PT'},
 {'EL'},
 {'CY'},
 {'DE'},
 {'IE'}]

In [26]:
G.in_edges('FR', data=True)

InEdgeDataView([('PT', 'FR', {'weight': 7995}), ('LT', 'FR', {'weight': 308}), ('EL', 'FR', {'weight': 1112}), ('SK', 'FR', {'weight': 414}), ('DE', 'FR', {'weight': 6449}), ('NL', 'FR', {'weight': 1681}), ('AT', 'FR', {'weight': 386}), ('IE', 'FR', {'weight': 653}), ('FI', 'FR', {'weight': 127}), ('EE', 'FR', {'weight': 39}), ('SI', 'FR', {'weight': 134}), ('DK', 'FR', {'weight': 195}), ('LU', 'FR', {'weight': 848}), ('RO', 'FR', {'weight': 8041}), ('ES', 'FR', {'weight': 9976}), ('BG', 'FR', {'weight': 1484}), ('BE', 'FR', {'weight': 7448}), ('SE', 'FR', {'weight': 579}), ('UK', 'FR', {'weight': 10756}), ('MT', 'FR', {'weight': 16}), ('LV', 'FR', {'weight': 116}), ('HR', 'FR', {'weight': 434}), ('IT', 'FR', {'weight': 12466}), ('PL', 'FR', {'weight': 2686}), ('CZ', 'FR', {'weight': 577}), ('CY', 'FR', {'weight': 63}), ('HU', 'FR', {'weight': 623})])

In [28]:
df[df.c_dest =='DE']

,c_dest,c_birth,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
6861,DE,EU27_FOR,:,:,:,:,:,296591,227206,158220,133436 b,328448
5913,DE,EFTA_FOR,4662 be,4581 be,4589,4300,4394,3962,3819,3432,3193 b,6047
6511,DE,EU15_FOR,:,:,:,:,:,83267,61406,:,:,:
5817,DE,EFTA,4662 be,4581 be,4589,4300,4394,3962,3819,3432,3193 b,6047
12036,DE,MDC_EXT,:,:,:,:,:,97788,77709,63068,60828 b,89727
7152,DE,EXT,:,:,:,:,:,206522,168952,145927,139997 b,209178
13873,DE,NEU28_FOR,449934 be,549831 be,999414,416181,284185,:,:,:,:,:
7189,DE,EXT_EU27,:,:,:,:,:,:,:,:,160160 b,:
8865,DE,HDC_EXT,:,:,:,:,:,86185,71096,61625,58666 b,100113
6430,DE,EU15,:,:,:,:,:,144503,119679,:,:,:
11154,DE,LDC_EXT,:,:,:,:,:,22549,20147,21234,20503 b,19338
3843,DE,CC3_07,:,:,:,:,:,:,:,17980,16970 b,35751
7053,DE,EUR,:,49339,:,:,:,:,:,:,:,:
13540,DE,NAT,90657 be,76563 be,59798,61682,57665,61236,58273,53223,50034 b,89021
7770,DE,FOR,821702 be,932986 be,1440354,819233,629877,528376,418884,325559,293596 b,579424
18364,DE,TOTAL,917109 be,1029852 be,1543848,884893,692713,592175,489422,404055,346216 b,682146
3936,DE,CC4_10,:,:,:,:,:,21301,18907,:,:,:
6765,DE,EU27,:,:,:,:,:,357827,285479,211443,183470 b,417469
19030,DE,UNK,4750 be,20303 be,43696,3978,5171,2563,12265,25273,2586 b,13701
6957,DE,EU28_FOR,371768 be,383155 be,440940,403052,345692,:,:,:,:,:
13777,DE,NEU27_FOR,:,:,:,:,:,231785,191678,167339,160160 b,250976
6592,DE,EU25,:,:,:,:,:,278909,227880,:,:,:
6673,DE,EU25_FOR,:,:,:,:,:,217673,169607,:,:,: